@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --clr-primary: #E50914;
    --clr-primary-hover: #F40612;
    --clr-black: #000000;
    --clr-gray: #222222;
    --clr-light-gray: #303030;
    --clr-lightest-gray: #8C8C8C;
    --clr-footer-gray: #737373;
    --clr-white: #FFFFFF;

    /* Font Sizes */
    --fs-h1: 1.75rem;
    --fs-h2: 1.625rem;
    --fs-normal: 1.125rem;

    /* Line Heights */
    --lh-h1: 1.875rem;
    --lh-h2: 1.7875rem;
    --lh-normal: 1.375rem;
}   

@media (min-width: 576px) {
    :root {
        /* Font Sizes */
        --fs-h1: 3rem; 
        --fs-h2: 2.5rem;
        --fs-normal: 1.25rem;

        /* Line Heights */
        --lh-h1: 3.5rem;
        --lh-h2: 2.75rem;
        --lh-normal: 1.5rem;
    }
}

@media (min-width: 992px) {
    :root {
        /* Font Sizes */
        --fs-h2: 3.125rem;
        --fs-normal: 1.625rem;

        /* Line Heights */
        --lh-h2: 3.4375rem;
        --lh-normal: 1.875rem;
    }
}

@media (min-width: 1536px) {
    :root {
        /* Font Sizes */
        --fs-h1: 4rem;

        /* Line Heights */
        --lh-h1: 4.625rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--clr-black);
    color: var(--clr-white);
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 700;
}

ul {
    list-style: none;
}

/* GLOBALS */
.container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
}

/* NAV */
.nav {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}

@media (min-width: 576px) {
    .nav {
        padding-top: 1.75rem;
        margin: 0 3rem;
    }
}

@media (min-width: 992px) {
    .nav {
        margin: 0 3.5rem;
    }
}

.nav__logo {
    width: 90px;
}

@media (min-width: 576px) {
    .nav__logo {
        width: 108px;
    }
}

@media (min-width: 992px) {
    .nav__logo {
        width: 134px;
    }
}

@media (min-width: 1536px) {
    .nav__logo {
        width: 167px;
    }
}

.nav__cta {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

@media (min-width: 576px) {
    .nav__cta {
        column-gap: 1.5rem;
    }
}

/* SELECT */
.select {
    position: relative;
    display: inline-block;
}

.select__world {
    position: absolute;
    font-size: .75rem;
    left: .375rem;
    top: 50%;
    transform: translateY(-50%);
}

.select--footer .select__world {
    font-size: 1rem;
    left: 1rem;
}

.select__arrow {
    position: absolute;
    font-size: 1rem;
    right: .3125rem;
    top: 50%;
    transform: translateY(-50%);
}

.select--footer .select__arrow {
    right: .375rem;
}

.select__input {
    appearance: none;
    -webkit-appearance: none;
    background: rgba(0,0,0,.4);
    border: 1px solid #AAAAAA;
    color: var(--clr-white);
    font-size: .875rem;
    padding: 0.25rem 1.5rem;
}

.select--footer .select__input {
    padding: .75rem 1.625rem .75rem 3rem;
    border: 1px solid var(--clr-footer-gray);
    color: var(--clr-footer-gray);
    font-size: 1rem;
}

/* BUTTONS */
.btn {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: .125rem 0.5rem;
    font-size: .9rem;
    border-radius: .25rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .2s ease;
}

@media (min-width: 576px) {
    .btn {
        padding: .25rem 16px;
        font-size: 1rem;
    }
}

.btn:hover {
    background-color: var(--clr-primary-hover);
}

.btn--large {
    padding: .5rem 1rem;
    font-size: 1rem;
}

@media (min-width: 992px) {
    .btn--large {
        flex: 1;
        height: 3.75rem;
        border-radius: 0 .25rem .25rem 0;
        font-size: 1.625rem;
        justify-content: center;
    }
}

@media (min-width: 1536px) {
    .btn--large {
        height: 4.375rem;
        font-size: 1.875rem;
    }
}

.btn__icon {
    font-size: 1rem;
}

@media (min-width: 992px) {
    .btn__icon {
        font-size: 1.5rem;
    }
}

@media (min-width: 1536px) {
    .btn__icon {
        font-size: 1.75rem;
    }
}

/* FORM */
@media (min-width: 576px) {
    .form {
        width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .form {
        width: 663px;
    }
}

@media (min-width: 1536px) {
    .form {
        width: 745px;
    }
}

.form__title {
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
    padding: 0 1rem;
    text-align: center;
    font-weight: 400;
}

@media (min-width: 576px) {
    .form__title {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}

@media (min-width: 768px) {
    .form__title {
        font-size: 1.4375rem;
        line-height: 1.75rem; 
    }
}

@media (min-width: 992px) {
    .form__title {
        font-size: 1.125rem;
        line-height: 1.25rem; 
    }
}

.form__container {
    width: 100%;
    margin: .75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 992px) {
    .form__container {
        margin: 1.25rem 0;
        flex-direction: row;
        position: relative;
    }
}

.form__input-container {
    position: relative;
    width: 100%;
    height: 3rem;
}

@media (min-width: 768px) {
    .form__input-container {
        height: 3.75rem;
    }
}

@media (min-width: 992px) {
    .form__input-container {
        flex: 0 0 450px;
    }
}

@media (min-width: 1536px) {
    .form__input-container {
        height: 4.375rem;
        flex: 0 0 500px;
    }
}

.form__input {
    outline: none;
    width: 100%;
    height: 3rem;
    padding: .75rem .75rem 0 .75rem;
    font-size: 1rem;
    border: 1px solid var(--clr-lightest-gray);
    border-radius: 2px;
}

@media (min-width: 768px) {
    .form__input {
        padding: .625rem .625rem 0 .625rem;
        height: 3.75rem;
    }
}

@media (min-width: 1536px) {
    .form__input {
        padding: .625rem .625rem 0 .625rem;
        height: 4.375rem;
    }
}

.form__input-container--invalid .form__input {
    border: none;
    border-bottom: 2px solid #FFA00A;
}

.form__label {
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--clr-lightest-gray);
    font-size: .875rem;
    transition: font-size .1s ease, top .1s ease, transform .1s ease;
}

@media (min-width: 768px) {
    .form__label {
        left: .625rem;
        font-size: 1rem;
    }
}

.form__input:focus + .form__label {
    font-size: .6875rem;
    top: 4px;
    transform: translateY(0);
}

@media (min-width: 768px) {
    .form__input:focus + .form__label {
        font-size: .8125rem;
        font-weight: 700;
        top: 6px;
    }
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    font-size: .6875rem;
    top: 4px;
    transform: translateY(0);
}

@media (min-width: 768px) {
    .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
        font-size: .8125rem;
        font-weight: 700;
        top: 6px;
    }
}

.form__alert {
    display: none;
    align-self: flex-start;
    color: #FFA00A;
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1;
    padding: .375rem .1875rem;
    text-align: left;
}

@media (min-width: 992px) {
    .form__alert {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
    }
}

.form__input-container--invalid + .form__alert {
    display: block;
}

.form__btn {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .form__btn {
        margin-top: 0;
    }
}

/* HEADER */
.header {
    position: relative;
    background: url(../img/background.jpg) no-repeat center center/cover;
    border-bottom: 8px solid var(--clr-gray);
    height: 525px;
}

@media (min-width: 576px) {
    .header {
        height: 697px;
    }
}

@media (min-width: 768px) {
    .header {
        height: 721px;
    }
}

@media (min-width: 992px) {
    .header {
        height: 692px;
    }
}

@media (min-width: 1536px) {
    .header {
        height: 733px;
    }
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 40%,transparent 75%,rgba(0,0,0,.8));
}

@media (min-width: 992px) {
    .header::before {
        background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
    }
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-image: linear-gradient(180deg,#000 25%, transparent);
}

@media (min-width: 576px) {
    .header::after {
        display: none;
    }
}

.header__container {
    position: relative;
    z-index: 2;
}

.hero {
    padding: 5rem 0;
}

@media (min-width: 576px) {
    .hero {
        padding: 9rem 0 5rem;
    }
}

@media (min-width: 992px) {
    .hero {
        padding: 10.5rem 0 5rem;
    }
}

.hero__content {
    text-align: center;
}

@media (min-width: 768px) {
    .hero__content {
        width: 640px;
        margin: 0 auto;
    }
}

@media (min-width: 1536px) {
    .hero__content {
        width: 800px;
    }
}

.hero__title {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    font-weight: 600;
}

.hero__subtitle {
    margin-top: .75rem;
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
}

@media (min-width: 576px) {
    .hero__subtitle {
        margin-top: 1rem;
        font-size: 1.625rem;
        line-height: initial;
    }
}

.hero__form {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .hero__form {
        margin-top: 1.875rem;
    }
}

/* Features */
.feature {
    padding: 3rem 0;
    border-bottom: 8px solid var(--clr-gray);
}

@media (min-width: 576px) {
    .feature {
        padding: 4.5rem 0;
    }
}

.feature__container {
    display: grid;
    row-gap: 1rem;
}

@media (min-width: 576px) {
    .feature__container {
        width: 550px;
    }
}

@media (min-width: 768px) {
    .feature__container {
        width: 650px;
    }
}

@media (min-width: 992px) {
    .feature__container {
        width: 900px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 4.5rem;
    }
}

@media (min-width: 1280px) {
    .feature__container {
        width: 1100px;
        column-gap: 2.5rem;
    }
}

.feature__data {
    text-align: center;
}

@media (min-width: 992px) {
    .feature__data {
        text-align: left;
    }
}

.feature__title {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
}

.feature__text {
    margin-top: 0.75rem;
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
}

@media (min-width: 576px) {
    .feature__text {
        padding: 0 .5rem;
    }
}

@media (min-width: 992px) {
    .feature__text {
        padding: 0;
    }
}

.feature__img-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .feature__container--reverse .feature__img-container {
        order: -1;
    }
}

.feature__img-container--download {
    position: relative;
}

.feature__img {
    object-fit: cover;
}

.feature__download {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8%;
    width: 265px;
    margin: 0 auto;
    background-color: var(--clr-black);
    border: 2px solid hsla(0,0%,100%,.25);
    border-radius: .75rem;
    display: flex;
    align-items: center;
    padding: .25rem .65rem;
}

@media (min-width: 576px) {
    .feature__download {
        width: 358px;
    }
}

@media (min-width: 768px) {
    .feature__download {
        width: 388px;
    }
}

@media (min-width: 992px) {
    .feature__download {
        width: 320px;
    }
}

.feature__download-img {
    width: 34px;
    margin-right: 1rem;
}

@media (min-width: 576px) {
    .feature__download-img {
        width: 45px;
    }
}

.feature__download-gif {
    width: 48px;
    height: 48px;
    margin-left: auto;
}

.feature__download-title {
    display: block;
    font-size: .9rem;
    font-weight: 700;
}

@media (min-width: 576px) {
    .feature__download-title {
        font-size: 1rem;
    }
}

.feature__download-downloading {
    display: block;
    font-size: .75rem;
    color: #0071EB;
}

/* FAQ */
.faq {
    padding: 3rem 0;
    border-bottom: 8px solid var(--clr-gray);
}

@media (min-width: 576px) {
    .faq {
        padding: 4.5rem 0;
    }
}

.faq__title {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    text-align: center;
    padding: 0 2rem;
}

.faq-accordion {
    margin-top: 1.25rem;
    display: grid;
    row-gap: .5rem;
}

@media (min-width: 576px) {
    .faq-accordion {
        width: 495px;
        margin: 2rem auto 0;
    }
}

@media (min-width: 768px) {
    .faq-accordion {
        width: 610px;
        margin: 2rem auto 0;
    }
}

@media (min-width: 992px) {
    .faq-accordion {
        width: 680px;
        margin: 3.25rem auto 0;
    }
}

@media (min-width: 1280px) {
    .faq-accordion {
        width: 815px;
    }
}

.faq-accordion__item {
    background-color: var(--clr-light-gray);
    overflow: hidden;
}

.faq-accordion__question {
    padding: .8rem 2rem .8rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@media (min-width: 576px) {
    .faq-accordion__question {
        padding: 1rem .75rem 1rem 1.5rem;
    }
}

@media (min-width: 992px) {
    .faq-accordion__question {
        padding: 1.25rem 2rem;
    }
}

.faq-accordion__title {
    font-weight: 400;
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
}

.faq-accordion__icon {
    font-size: 1.5rem;
    transition: transform .4s ease;
}

.faq-accordion__item--active .faq-accordion__question .faq-accordion__icon {
    transform: rotate(45deg);
}

.faq-accordion__answer {
    max-height: 0;
    transition: max-height .4s ease;
}

.faq-accordion__item--active .faq-accordion__answer {
    max-height: 1000px;
}

.faq-accordion__content {
    border-top: 1px solid var(--clr-black);
    padding: 1.25rem;
    font-size: var(--fs-normal);
    line-height: var(--lh-normal);
}

.faq__form-container {
    margin-top: 1.25rem;
}

@media (min-width: 576px) {
    .faq__form-container {
        margin-top: 2rem;
    }
}

@media (min-width: 992px) {
    .faq__form-container {
        margin-top: 3.25rem;
    }
}

/* FOOTER */
.footer {
    padding: 3rem 0 1rem;
}

@media (min-width: 576px) {
    .footer {
        padding: 4.5rem 0 2rem;
    }
}

.footer__container {
    padding: 0 1rem;
    color: var(--clr-footer-gray);
}

@media (min-width: 576px) {
    .footer__container {
        padding: 0;
        width: 495px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .footer__container {
        width: 610px;
    }
}

@media (min-width: 992px) {
    .footer__container {
        width: 810px;
    }
}

@media (min-width: 1280px) {
    .footer__container {
        width: 900px;
    }
}

.footer__call {
    font-size: 1rem;
}

.footer__call-link {
    color: inherit;
}

.footer__call-link:hover {
    text-decoration: underline;
}

.footer__links {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem .75rem;
}

@media (min-width: 576px) {
    .footer__links {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .footer__links {
        grid-template-columns: repeat(4, 1fr);
    }
}

.footer__link {
    display: inline-block;
    color: inherit;
    font-size: .8125rem;
    line-height: 1;
}
 
.footer__link:hover {
    text-decoration: underline;
}

.footer__select {
    margin-top: 1.5rem;
}

.footer__copy {
    margin-top: 1.5rem;
    font-size: .8125rem;
}